
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/dev/dev.decrypt.private.php
/config/secrets/test/test.decrypt.private.php
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> ignore the public/uploads folder ###
/public/uploads
###< ignore the public/uploads folder ###

###> ignore the .idea folder ###
.idea
###< ignore the .idea folder ###

###> ignore docker folder ###
docker
###< ignore docker folder ###